{{extend layout_template}}

{{block sub_menu}}
    {{sub_menu(menu_items, 'messages', 'send')}}
{{end}}

{{block content_main}}
{{use "jquery"}}
{{use "jqutils"}}
{{use "jqrmselect", version2=True}}
{{use "jquery", ui=True}}
{{use "fontawesome"}}

<div class="span8 panel">
    <div class="panel-header">
        <h2>发送信息</h2>
    </div>
    {{<< form.begin}}
    <div class="panel-content">
        {{<< form.body}}
    </div>
    <div class="panel-footer">
        {{<< form.buttons}}
    </div>
    {{<< form.end}}
</div>

<script>
$(function(){
    $('#field_users').remote_multiple_select2({width:380, height:100});
});
</script>
{{end}}
