{{extend "classes_admin_layout.html"}}

{{block sub_menu}}
{{menu('sidemenu','classes/class')}}
{{end}}

{{block content_main}}
<style>
#field_name, #field_link {width:80%;}
</style>
{{include "inc_select2.html"}}
{{use "sisyphus"}}

    {{<< form}}
    
<script>
$(function(){
    simple_select2('#field_teachers', {ajax:{url:"/users/search"}});
//    simple_select2('#field_cateogry');
//    $('#field_category').select2({width:'100px', allowClear: true});
    $('form').sisyphus();
});
</script>

{{end}}