{{extend "tutorial_layout.html"}}

{{block content_main}}
{{use "codemirror"}}

    <ul class="breadcrumb">
      <li>
        <a href="/tutorial">返回</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="/tutorial/read/{{=object.id}}">{{=object.title}}</a> <span class="divider">/</span>
      </li>
      <li class="active">
        添加新章节
      </li>
    </ul>
    
    <h2 class="section">添加新章节</h2>
    <div class="span10">
    {{<< form}}
    </div>
    <script>
        var myCodeMirror = CodeMirror.fromTextArea($('#field_content').get(0));
    </script>
{{end}}