{{extend "TutorialView/add_chapter.html"}}

{{block page-nav}}编辑章节{{end}}
{{block page-title}}编辑章节{{end}}
{{block before_album}}{{tutorial_id = object._tutorial_}}{{end}}

{{block link-nav}}
<ul class="breadcrumb">
  <li>
    <a href="/tutorial">返回</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/tutorial/read/{{=object._tutorial_}}">{{=object.tutorial.title}}</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/tutorial/view_chapter/{{=object.id}}">{{=object.title}}</a> <span class="divider">/</span>
  </li>
  <li class="active">
    {{block page-nav}}编辑章节{{end}}
  </li>
</ul>
{{end}}
