{{extend "tutorial_layout.html"}}

{{block content_main}}
{{use "jqscrollpagination"}}

<div class="row">
    <div class="pull-right">
        {{if request.user:}}
            <a href="/tutorial/add" class="btn btn-success"><i class="icon icon-plus icon-white"></i>添加新教程</a>
        {{else:}}
            <span>你还没有登录，无法添加新教程！</span>
        {{pass}}
    </div>
</div>
<script type="text/html" id="tutorialTemplate">
    <li class="tutorial-item clearfix">
        <img src="${image}" class="preface pull-left" title="${title}"/>
        <h2><a href="/tutorial/read/${id}">《${title}》</a></h2>
        <span class="gray">由 ${author} 更新，最后更新时间 ${modified_date}</span>
        <p>
            ${summary}
        </p>
        <div class="turorial-buttons">
            <a href="/tutorial/read/${id}" class="btn btn-primary">点击阅读 &raquo;</a>
        </div>
        <div class="tutorial-info">
            <span>评论：<a href="#" class="para-comments-count right">${comments_count}</a></span>
        </div>
    </li>
</script>

<ul class="unstyled tutorial-list" id="tutorials">
</ul>

<script>
    $(function(){
        $('a.para-comments-count').click(function(e){
            e.preventDefault();
        });
        $('#tutorials').scrollpagination({
            total: {{=total}},
            pageRows : 4,
            initLoad : true,
            onChange: function(page){
                var that = this;
                $('#tutorials .loading').remove();
                $('#tutorials').append('<p style="text-align:center" class="loading"><img src="/static/jqutils/loading.gif"/></p>').fadeIn();
                $.ajax({
                    type:'GET',
                    dataType:'json',
                    url:'/tutorial?page='+page+'&rows='+that.options.pageRows+'&data=',
                    success:function(data){
                        $('#tutorials .loading').fadeOut().remove();
                        $.each(data.rows, function(index, v){
                            var t = template($('#tutorialTemplate').html(), v);
                            $('#tutorials').append(t);
                        });
                    }
                });
            }
            
        });
    });
</script>
{{end}}