{{extend "tutorial_layout.html"}}

{{block content_main}}
<div class="row">
    <div class="pull-right">
        {{if request.user:}}
            <a href="/tutorial/add" class="btn btn-success"><i class="icon icon-plus icon-white"></i>添加新教程</a>
        {{else:}}
            <span>你还没有登录，无法添加新教程！</span>
        {{pass}}
    </div>
</div>
<ul class="unstyled tutorial-list">
{{for row in objects:}}
    <li class="tutorial-item clearfix">
        <img src="{{=row._obj_.get_image()}}" class="preface pull-left" title="{{=row.title}}"/>
        <h2>{{=row.title}}</h2>
        <span class="gray">由 {{=row.creator}} 创建，最后更新时间 {{=row.modified_date}}</span>
        <p>
            {{=row.summary}}
        </p>
        <div class="turorial-buttons">
            <a href="/tutorial/read/{{=row._obj_.id}}" class="btn btn-primary">点击阅读 &raquo;</a>
        </div>
    </li>
{{pass}}
</ul>
{{end}}